<div>{{title}}</div>
<app-koszyk [kwota]="kwota" opis="Wartość twojego koszyka to " opis2="zł"></app-koszyk>
<table>
    <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Data utworzenia</th>
        <th>Dodaj do koszyka</th>
    </tr>
    <tr *ngIf = "produktyWidoczne" >
        <app-produkt *ngFor ="let pr of produkt" [produkt] = "pr" ></app-produkt>
    </tr>
        
</table>
<button (click)="produktyWidoczne = !produktyWidoczne">
    {{produktyWidoczne ? 'Ukryj produkty' : 'Wyświetl produkty'}}
</button>